*{
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

section{
    border: 1px solid black;
    text-align: center;
}
