@import 'base.css';

  section:nth-child(1){
    height: 75px;
    line-height: 75px;
    background-color: hotpink;
  }
  
  section:nth-child(2){
    height: 150px;
    line-height: 150px;
    background-color: teal;
  }
  
  section:nth-child(3){
    height: 125px;
    line-height: 125px;
    background-color: aqua;
  }
  
  section:nth-child(4){
    height:125px;
    line-height: 125px;
    background-color: burlywood;
  }
  
  section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
    height: 250px;
    line-height: 250px;
    width: 50%;
    float: left;
  }
  
  section:nth-child(9){
    height: 80px;
    line-height: 80px;
    background-color: orange;
    clear: both;
  }
  
  @media (min-width:768px) {
    body{
      width: 960px;
    }
  
    section:nth-child(1){
      height: 100px;
      line-height: 100px;
      background-color: royalblue;
    }
  
    section:nth-child(2){
      height: 600px;
      width: 200px;
      line-height: 600px;
      float: left;
    }
  
    section:nth-child(3), section:nth-child(4){
      width: 380px;
      height: 200px;
      line-height: 200px;
      float: left;
    }
  
    section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
      width: 190px;
      height: 250px;
      line-height: 250px;
      float:left;
    }
  
    section:nth-child(9){
      width: 760px;
      height: 150px;
      line-height: 150px;
      display: inline-block;
    }
  }

/* ****************************************************
****************************************************














* {
    box-sizing: border-box;
    width: 100%;
} */

/* @media screen and (max-width: 480px) {
    body {
        height: 100%;
        width: 100%;
        margin:0;
        padding:0;
        background-color: antiquewhite;
    }

    p {
        text-align: center;
    }

    .main {
        height: 250px;
        width: 100%;
    }

    .nav {
        height: 150px;
        width: 100%;
    }

    .subheads {
        height: 500px;
        width: 100%;
    }

    .subheads p {
        float: left;
        width: 100%;
    }

    #one {
        background-color: plum;
        height: 75px;
        line-height: 75px;;
        width: 100%;
    }

    #two {
        background-color: hotpink;
        height: 150px;
        line-height: 150px;;
        width: 100%;
    }

    #three {
        background-color: pink;
        height: 125px;
        line-height: 125px;;
        width: 100%;
    }

    #four {
        background-color: salmon;
        height: 125px;
        line-height: 125px;;
        width: 100%;
    }

    #five {
        background-color: lightpink;
        height: 250px;
        line-height: 250px;;
        width: 50%;
    }

    #six {
        background-color: lightsalmon;
        height: 250px;
        line-height: 250px;;
        width: 50%;
    }

    #seven {
        background-color: darksalmon;
        height: 250px;
        line-height: 250px;;
        width: 50%;
    }

    #eight {
        background-color: darkorange;
        height: 250px;
        line-height: 250px;;
        width: 50%;
    }

    #nine {
        background-color: coral;
        height: 80px;
        line-height: 80px;;
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    body {
        height: 100%;
        max-width: 480px;
        margin: 0;
        padding: 0;
        background-color: antiquewhite;
    }

    p {
        text-align: center;
    }

    .main {
        height: 250px;
        width: 100%;
    }

    .nav {
        height: 150px;
        width: 100%;
    }

    .subheads {
        height: 500px;
        width: 100%;
    }

    .subheads p {
        float: left;
        width: 100%;
    }

    #one {
        background-color: plum;
        height: 75px;
        line-height: 75px;;
        width: 100%;
    }

    #two {
        background-color: hotpink;
        height: 150px;
        line-height: 150px;;
        width: 100%;
    }

    #three {
        background-color: pink;
        height: 125px;
        line-height: 125px;;
        width: 100%;
    }

    #four {
        background-color: salmon;
        height: 125px;
        line-height: 125px;;
        width: 100%;
    }

    #five {
        background-color: lightpink;
        height: 250px;
        line-height: 250px;;
        width: 50%;
    }

    #six {
        background-color: lightsalmon;
        height: 250px;
        line-height: 250px;;
        width: 50%;
    }

    #seven {
        background-color: darksalmon;
        height: 250px;
        line-height: 250px;;
        width: 50%;
    }

    #eight {
        background-color: darkorange;
        height: 250px;
        line-height: 250px;;
        width: 50%;
    }

    #nine {
        background-color: coral;
        height: 80px;
        line-height: 80px;;
        width: 100%;
    }
} */

/* DESKTOP-theme */

/* @media screen and (min-width: 768px) {
    body {
        width: 960px;
    }

    footer {
        float: right;
        height: 150px;
        width: 760px;
    }

    header {
        height: 100px;
        width: 960px;
    }

    .main {
        float: right;
        height: 250px;
        width: 760px;
    }

    .nav {
        float: left;
        height: 150px;
        width: 760px;
    }

    .subheads {
        float: right;
        height: 250px;
        width: 760px;
    }

    .subheads p {
        float: left;
    }

    #one {
        background-color: skyblue;
        height: 100px;
        line-height: 100px;;
        width: 100%;
    }
    
    #two {
        background-color: aqua;
        height: 600px;
        line-height: 600px;;
        width: 100%;
    }
    
    #three {
        background-color: lightcyan;
        float: left;
        height: 200px;
        line-height: 200px;;
        width: 50%;
    }
    
    #four {
        background-color: lightskyblue;
        float: right;
        height: 200px;
        line-height: 200px;;
        width: 50%;
    }
    
    #five {
        background-color: aquamarine;
        height: 250px;
        line-height: 250px;;
        width: 25%;
    }
    
    #six {
        background-color: mediumturquoise;
        height: 250px;
        line-height: 250px;;
        width: 25%;
    }
    
    #seven {
        background-color: powderblue;
        height: 250px;
        line-height: 250px;;
        width: 25%;
    }
    
    #eight {
        background-color: turquoise;
        height: 250px;
        line-height: 250px;;
        width: 25%;
    }
    
    #nine {
        background-color: cornflowerblue;
        height: 150px;
        line-height: 150px;;
        width: 100%;
    }
}
 */
